<div class="categories">
	{{#each result}}
	<div class="category">
		<span class="name">{{name}}</span>
		<button type="button" id="category_delete" data-id="{{id}}">Delete</button>
		<button type="button" id="category_edit" data-id="{{id}}">Edit</button>
	</div>
	{{/each}}
	<div class="add">
		Name <input type="text" id="name"><br>
		Keywords <input type="text" id="keywords"><br>
		<button type="button" id="save" style="display: none">Save</button>
		<button type="button" id="add">Add</button>
	</div>
</div>