<div class="paginator"></div>
{{#each items}}
<div class="document_item">
  <a href="?section=documents&view={{id}}">
    {{#if offline}}
    <img src="">
    {{else}}
    <img src="http://{{../server}}:7000/document/{{id}}/small/0" />
    {{/if}}
  </a>
  <div class="document_info">
    {{#if received}}Dated {{dtos received}}<br>{{/if}}
    {{#if scanned}}Added {{dtos scanned}}<br>{{/if}}
    {{#if category}}{{capitalize category.name}}<br>{{/if}}
    {{#if tags}}{{#each tags}}{{name}} {{/each}}<br>{{/if}}
    {{#if offline}}DOCUMENT UNAVAILABLE<br>{{/if}}
    <hr>
    Pages {{pages}}<br>
    <hr>
    <button id="item_view" data-id="{{id}}">View</button>
    <button id="item_download" data-id="{{id}}">Download</button>
    <button id="item_delete" data-id="{{id}}">Delete</button>
  </div>
</div>
{{else}}
It doesn't seem like you have any documents in the system. Use the <a href="?section=upload">upload</a> section to add documents.
{{/each}}
<div class="paginator"></div>
