<div class="paginator"></div>
{{#each items}}
<div class="document_item">
  <a href="?section=documents&view={{id}}">
    {{#if offline}}
    <img src="">
    {{else}}
    <img src="http://{{../server}}:7000/document/{{id}}/small/0" />
    {{/if}}
  </a>
  <div class="document_info">
    {{#if received}}Dated <a href="?section=search&q=dated:{{donly received}}">{{dtos received}}</a><br>{{/if}}
    {{#if scanned}}Added <a href="?section=search&q=added:{{donly scanned}}">{{dtos scanned}}</a><br>{{/if}}
    {{#if category}}<a href="?section=search&q=catid:{{category.id}}">{{capitalize category.name}}</a><br>{{/if}}
    {{#if tags}}{{#each tags}}{{name}} {{/each}}<br>{{/if}}
    {{#if offline}}DOCUMENT UNAVAILABLE<br>{{/if}}
    <hr>
    Pages {{pages}}<br>
    <hr>
    {{#if offline}}{{else}}
    <button id="item_view" data-id="{{id}}">View</button>
    <button id="item_download" data-id="{{id}}">Download</button>
    {{/if}}
    <button id="item_delete" data-id="{{id}}">Delete</button>
  </div>
</div>
{{else}}
It doesn't seem like you have any documents in the system. Use the <a href="?section=upload">upload</a> section to add documents.
{{/each}}
<div class="paginator"></div>
