<div class="status">
  {{#if jobs}}
  Number of jobs in the queue: {{count}}
  {{/if}}
  {{#each jobs}}
  <div data-state="{{overall}}">
    <span class="state">{{overall}}</span>
    <span class="filename">{{filename}} {{#lt files 1}}[Part {{rebase file 1}} of {{rebase files 1}}]{{/lt}}</span>
    <span class="pages">{{#if pages}}Page {{rebase 1 page}} of {{pages}}: {{sub}}{{/if}}</span>
  </div>
  {{else}}
  idle!
  {{/each}}
  {{#if failed}}
  <div class="failed">Last 10 failed uploads</div>
  {{/if}}
  {{#each failed}}
  <div>
    <span class="filename">{{filename}}</span>
    <span class="state">{{strtime time}}</span>
  </div>
  {{/each}}
</div>
