[Unit]
Description = lagerDOX, a searchable document database
Requires = mysql.service
Wants = network.target
After = mysql.service network.target

[Service]
User = ha
SyslogIdentifier = lagerDOX
WorkingDirectory = /home/ha/lagerdox/daemon
ExecStart = /home/ha/lagerdox/daemon/lagerdoxd /home/ha/lagerdox/daemon/lagerdox.conf
Type = simple
Restart = always

[Install]
WantedBy = multi-user.target
