body {
  font-family: Verdana;
  font-size: 10pt;
}

div.menu {
  border-bottom: 1px solid black;
  padding: 5pt;
  margin-bottom: 5pt;
}

div.menu a {
  padding-left: 10pt;
  padding-right: 10pt;
}

div.document_item {
  border: 1px solid black;
  padding: 10px;
  height: 200px;
  width: 320px;
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
  margin: 2px;
  white-space: nowrap;;
}

div.document_item img {
  float: left;
  border: 1px solid black;
  max-width: 155px;
  max-height: 200px;
  margin: auto auto;
}

div.document_item div {
  display: inline-block;
  vertical-align: top;
  padding-left: 10px;
  height: 100%;
}

div.document div.page img {
  border: 1px solid black;
}

div.document div.page {
  display: inline-block;
}

div.upload div.progress {
  height: 50px;
  width: 90%;
  margin: auto;
  border: 1px inset black;
}

div.upload div.progress div.bar {
  height: 100%;
  background-color: green;
}

div.upload label {
  display: inline;
}

div.upload div.uploadbox {
  width: 400px;
  height: 400px;
  display: inline-block;
  border: 1px ridge black;
  text-align: center;
  vertical-align: middle;
}

div.upload #file {
  opacity: 0;
  position: absolute;
  z-index: -1;
}

div.search #query {
  width: 90%;
}

div.search {
  padding: 5pt;
  padding-bottom: 10pt;
  border-bottom: 1px solid black;
}

div.results {
  padding: 5pt;
  padding-top: 10pt;
}

div.progress {
  width: 100%;
  height: 100%;
  text-align: center;
  vertical-align: middle;
}

div.progress img#busyimg {
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  margin:auto;
}

div.progress div {
  margin: auto;
  border: 1px solid black;
  padding: 5pt;
  display: inline-block;
  text-align: left;
}

div.paginator div {
  width: 100%;
  text-align: center;
}

div.status div {
  background-color: #8080f0;
  padding: 5pt;
  width: 100%;
  margin-bottom: 5pt;
  white-space: nowrap;
}

div span.filename {
  width: 50%;
  display: inline-block;
  white-space: nowrap;
}

div span.state {
  width: 10%;
  display: inline-block;
  white-space: nowrap;
}

div span.pages {
  width: 40%;
  display: inline-block;
  white-space: nowrap;
}

div.status div[data-state="PENDING"] {
  background-color: #f0f0f0;
}